<!-- Apresentação inicial -->
<div class="jumbotron jumbotron-fluid p-ju">
    <div class="container p-co">
        <div class="text-center text-white p-fo">
            <h1 class="display-4 title-jumbo">Atraia quem não pode Pagar!</h1>
            <p class="lead">Nosso lema é dividir e conquistar.</p>
            <hr class="my-4 bg-white">
            <p>Venha para nossa plataforma e comece já a lucrar com pratos maiores.</p>
            <p class="lead">
                <a *ngIf="!(check | async)" class="btn btn-danger btn-lg rounded-0" href="#" role="button" data-toggle="modal" data-target="#ModalCadastro" style="background-color: #D32F2F!important; text-shadow: none!important;">Cadastre sua Empresa</a>
            </p>
        </div>
    </div>
</div>

<!-- Bloco sobre -->
<div class="container style-p">
    <div class="row">
        <div class="col-sm-12 col-md-6 px-4">
            <h1 class="mb-3 title-jumbo">O que é a Food Party</h1>
            <p class="text-justify lead">
                Já pensou em atrair mais clientes? E em grupos? Difícil né... bom a Food Party veio com a ideia de mudar essa visão, pois ela possibilita a junção de clientes com interesses parecidos em um grupo, para que possam dividir algum tipo de alimento.
            </p>
            <p class="text-justify lead">
                Como seria isso? Muito simples, você cadastra seus produtos em nossa plataforma, estabelece a quantidade mínima e máxima de consumidores que poderão comprar em conjunto, além de dar aquele desconto especial. O resto nós fazemos!
            </p>
        </div>
        <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center">
            <img class="img-fluid style-img shadow" src="../../assets/imgs/dividir-fatia.jpg" alt="dividir conta Food Party">
        </div>
    </div>
</div>


<!--Parallax-->
<div class="parallax d-none d-lg-block"></div>


<!--Metricas da empresa-->
<div class="container style-p">
    <div class="row">
        <div class="col">
            <h1 class="title-jumbo">Vantagens</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 py-2 d-flex justify-content-center">
            <div class="card  rounded-0  shadow">
                <img class="card-img-top rounded-0" src="../../assets/imgs/vantagens/atrair-pessoas.jpg" alt="Atrair clientes">
                <div class="card-body">
                    <p class="card-text text-justify">Pensamos em diversas formas para atrair clientes, assim você ganha aquele tempo para resolver outros problemas e aumentar seus lucros.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 py-2  d-flex justify-content-center">
            <div class="card rounded-0 shadow">
                <img class="card-img-top rounded-0" src="../../assets/imgs/vantagens/equipe.jpg" alt="Inovação">
                <div class="card-body">
                    <p class="card-text text-justify">Uma equipe altamente qualificada sempre a sua disposição, estamos sempre inovando para o crescimento de nossos clientes.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 py-2 d-flex justify-content-center">
            <div class="card rounded-0 shadow">
                <img class="card-img-top rounded-0 " src="../../assets/imgs/vantagens/vizualização.jpg" alt="vizualização">
                <div class="card-body text-justify">
                    <p class="card-text">Com nosso serviço de marketing, aumentamos a visualização do seu empreendimento na internet, assim te apresentamos ao mundo.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Parallax-->
<div class="parallax d-none d-lg-block"></div>
